@media (min-width: 1024px) and (max-width: 1300px) {
	.wrapp {
		flex-direction: column;
	}
	.wrapper, .wrapper1,.section,.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
	}
	.block_footer, .footer-forms {
		flex-wrap: wrap;
	}
	.photo1 {
		margin-top: 150px;
	}
	.resources,.training,.connect,.communit {
		width: 40%;
	}
	.communit {
		margin-top: -60px;
	}
	.contact, .footer-forms .button {
		margin: 0 auto;
		margin-top: 3%;
	}
	.fitness {
		margin-left: -80%;
		margin-top: 5%;
		padding: 0;
	}
	.header-line,.surf,.mango, .gadget,.icon_p,.icon_l,.berry,.about2 {
		display: none;
	}
	.about_life, .mango,.about,.berry, .run,.about_fun, .about_yourself, .about_improve {
		height: auto;
		width: 80%;
	}
	.about_fun, .about_life,.berry, .about_yourself, .about_improve, .about2 {
		padding-bottom: 5%;
	}
	.line_sky {
		display: none;
	}
	.header {
		height: 100vh;
	}
	.end {
		height: auto;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.fitness {
		margin-left: -80%;
		padding: 0;
	}
	.about_us,.contact {
		padding: 0;
	}
	.footer-forms .form {
		margin-bottom: 20px;
		margin-right: 10%;
		margin-top: 20px;
	}
	.wrapp {
		flex-direction: column;
	}
	.footer-forms {
		justify-content: center;
		padding-bottom: 5%;
		padding-top: 5%;
	}
	.form1,.form {
		margin-bottom: 5%;
		margin-top: 5%;
	}
	.button_f {
		display: flex;
		justify-content: center;
	}
	.menu_block {
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	.resources,.training,.connect,.communit {
		text-align: center;
		width: 100%;
	}
	.wrapper, .wrapper1,.section,.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
		width: 100%;
	}
	.block_footer, .footer-forms {
		flex-wrap: wrap;
	}
	.contact, .footer-forms .button {
		margin: 0 auto;
	}
	.big_class {
		flex-wrap: wrap;
	}
	.block6,.header-line,.about2, .mango, .text_on_pict,.about_improve, .icon_l,.icon_p,.icon_s,.surf, .gadget,.about2,.berry {
		display: none;
	}
	.about_life, .head-line,.about,.mango,.run,.gadget, .header-line,.berry, .about_fun, .about_yourself, .about_improve, .about2 {
		align-content: center;
		height: auto;
		margin: 0;
		width: 80%;
	}
	.about_fun, .about_life, .about_yourself, .about_improve, .icon_p,.icon_s,.about2,.gadget {
		padding-bottom: 5%;
	}
	.line_sky {
		display: none;
	}
	.i_can {
		margin-bottom: -5%;
	}
	.header {
		height: 100vh;
	}
	.menu_block {
		flex-wrap: wrap;
	}
	.resources,.training,.communit,.connect {
		margin-bottom: 50px;
		margin-left: 200px;
		text-align: left;
		width: 80%;
	}
	.paragraph {
		margin-top: -40px;
		width: 60%;
	}
	.footer .form1 {
		margin-top: 20px;
	}
	.end {
		height: auto;
	}
	.par4 {
		width: 80%;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.wrapp {
		flex-wrap: wrap;
	}
	.line_sky {
		display: none;
	}
	.head_linki {
		margin: auto;
		margin-top: 50%;
		width: 100%;
	}
	.par4 {
		width: 80%;
	}
	.i_can {
		display: none;
	}
	.menu_block {
		flex-wrap: wrap;
	}
	.resources,.training,.communit,.connect {
		margin-bottom: 50px;
		margin-left: 200px;
		text-align: left;
		width: 80%;
	}
	.paragraph {
		margin-top: -40px;
		width: 60%;
	}
	.fitness {
		padding-left: 0;
		padding-top: 10px;
	}
	.header {
		height: auto;
		width: 100%;
	}
	.head_linki .linki {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		width: 100%;
	}
	.menu_block {
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	.fitness {
		margin: 0 auto;
	}
	.header-line,.block6, .gadget, .surf, .berry, .run, .mango,.about2,.about_improve, .icon_p,.icon_s {
		display: none;
	}
	.wrapper, .wrapper1,.section,.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
		width: 100%;
	}
	.block_footer, .footer-forms {
		flex-wrap: wrap;
		width: 100%;
	}
	.about_us, .contact {
		padding: 0;
	}
	.about {
		align-content: center;
		height: auto;
		width: 90%;
	}
	.about_life, .about_fun, .about_yourself, .about_improve, .about2 {
		height: auto;
		width: 90%;
	}
	.footer-forms {
		justify-content: center;
		padding-bottom: 5%;
		padding-top: 5%;
	}
	.form1,.form {
		margin-bottom: 5%;
		margin-top: 5%;
	}
	.button_f {
		display: flex;
		justify-content: center;
	}
	.end {
		height: auto;
	}
}
