@media (min-width: 1024px) and (max-width: 1279px) {
	.wrapp {
		flex-direction: column;
	}

	.wrapper, 
	.wrapper1,
	.section,
	.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
	
	}

	.resources,
	.training,
	.connect,
	.communit {
		width: 40%;
	}
	.communit {
		margin-top: 10%;
	}
	.connect {
		margin-top: 10%;
	}
	.contact, 
	.footer-forms .button {
		margin: 0 auto;
		margin-top: 3%;
	}
	.footer-forms {
		margin:0;
		padding-bottom: 20px;
		padding-top:20px;
		margin:0;
	}
	
	.fitness {
		margin-left: -80%;
		margin-top: 5%;
		padding: 0;
	}
  .text_on_pict {
	  display: none;
  }
	.surf {
		display: none;
	}
	.mango {
		display: none;
	}

	.icon_l {
		display: none;
	}
	
	.berry {
		display: none;
	}
	.about2 {
		display: none;
	}
	.about_life,
	.about,
	.run,
	.about_fun,
	.about_yourself,
	.about_improve,.menu_block {
		height: auto;
		width: 80%;
	}
	.about_fun, 
	.about_life,
	.berry, 
	.about_yourself, 
	.about_improve, 
	.about2 {
		padding-bottom: 5%;
	}

	.line_sky {
		display: none;
	}
	.header {
		height: 100vh;
	}
	.end {
		height: auto;
	}
	.form1{
		margin-top: 0;
	
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.fitness {
		margin-left: -80%;
		padding: 0;
	}

	.footer {
		margin-top: 5%;
		justify-content: center;	
  }
  .tittle {
	  width: 50%;
   	margin: 0 auto;
  	margin-top: 5%;
  }
  .footer-forms {
  	width: 80%;
		margin-left: 0;
	
  }
  
	.wrapp {
		flex-direction: column;
	}

	.menu_block {
  	width:100%;
		flex-wrap: wrap;
	}
.training,.connect,.communit,.resources{
	width: 40%;
}
	.wrapper, 
	.wrapper1,
	.section,
	.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
		width: 100%;
	}
	.end {
		width: 100%;
	}
	.block_footer, 
	.footer-forms {
		flex-wrap: wrap;
	}

	.big_class {
		flex-wrap: wrap;
	}
	
  .about_improve {
	 display: none;
  }

	.surf {
		display: none;
	}
	.mango {
		display: none;
	}
	
	.icon_l {
		display: none;
	}
	.berry {
		display: none;
	}
	.about2 {
		display: none;
	}
	.gadget {
		display: none;
	}
	.about_life, 
	.head-line,
	.about,
	.run, 
	.about_fun, 
	.about_yourself {
		align-content: center;
		height: auto;
		margin: 0;
		width: 80%;
		height:auto;
	}
	.about_fun,
	.about_life {
		padding-bottom: 5%;
	}

	.i_can {
		margin-bottom: -5%;
	}
	.header {
		height: 100vh;
	}


	.contact {
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
  }
	.form1{
	width:200px;
	}

	.end {
		height: auto;
	
	}
	.par4 {
		width: 80%;
	}	
	.about_yourself{
		padding-bottom:30px;
	}
	.footer{
	margin: 0;
	
	}

}
@media (min-width: 320px) and (max-width: 767px) {
	.wrapp {
		flex-wrap: wrap;
	}

	.head_linki {
		margin: auto;
		margin-top: 50%;
		width: 100%;
	}
	.par4 {
		width: 80%;
	}
	.i_can {
		display: none;
	}
	.menu_block {
		flex-wrap: wrap;
		width: 100%;
	}
	.resources,
	.training,
	.communit,
	.connect {
		width: 100%;
		margin-bottom: 10%;
		text-align: center;
		padding:0;
	  margin-right: auto;
	  margin-left: auto;
	}
	.paragraph {
    padding:0 50px 0 50px;
	  padding-bottom: 0;
	  width: 100%;
	  text-align: center;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	}
	.photo1 {
		margin: 0 auto;
	}

	.header1 {
		text-align: center;
	}
	.link {
	
		display: block;
		position: static;
		margin: 0 auto;
		text-align: center;
	}
	.fitness {
		padding-left: 0;
		padding-top: 10px;
	}
	.header {
		height: auto;
		width: 100%;
	}
	.head_linki .linki {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		width: 100%;
	}
	
	
	.fitness {
		margin: 0 auto;
	}

	.block6, 
	.gadget, 
	.surf, 
	.berry, 
	.run, 
	.mango,
	.about2,
	.about_improve, 
	.icon_p,
	.icon_s {
		display: none;
	}
	.wrapper, 
	.wrapper1,
	.section,
	.content {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		height: auto;
		justify-content: center;
		padding: 0%;
		width: 100%;
	}
	.block_footer,
	.footer-forms {
		flex-wrap: wrap;
		width: 100%;
	}


	.par4{
		width: 100%;
	}


	.about {
		
		height: auto;
		width: 90%;
	}
	.about_life, 
	.about_fun, 
	.about_yourself {
		height: auto;
		width: 90%;
		padding-bottom:30px;


	}
	.header3,
	.summer{
		line-height: 40px;
	}
	.footer{
		margin:0;
	}   
	.footer{
		margin-top: 5%;
		justify-content: center;
	}

	form{
		width: 90%;
		flex-wrap: wrap;
	}

	form input{
		width: 100%;
		margin-bottom: 2%;
		font-size: 16px;
	}
	.form1{
		width: 200px;
	}
	.end {
		height: auto;
		width: 100%;
                margin-right:0;
        	padding:50px;
	}

}
