:root {
	--top-color: #ffffff;
	--top-family: 'Open Sans', sans-serif;
	--top-family1: 'Nunito', sans-serif;
	--top-family2: 'Montserrat', sans-serif;
	--top-family3: 'proxima-nova', sans-serif;
	--top-left-align: left;
	--top-size: 14px;
	--top-weight: 400;
}

* {  
	box-sizing:border-box;
}
body{
	padding:0;
	margin:0;
}
.icon_ar{
	width: 11px;
	height: 11px; 
	margin-left: 10px;
}

.line {
	height: 125px;
	overflow: hidden;
	position: relative;
}
.line:after {
	background: red;
	border-radius: 70%;
	content: "";
	display: block;
	height: 200px;
	left: -10%;
	margin-top: -80px;
	opacity: 0.3;
	position: absolute;
	top: 100%;
	width: 500%;
}
 a:hover{
	color:grey;
}
.block3, .block2,.block4, .block5 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.triangle-bottomleft {
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
	height: 0;
	width: 0;
}
.block4 {
	background-color: #fff;
}
.head_linki {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: 69px;
}
.line1 {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.line1:after {
	background: red;
	border-radius: 70%;
	content: "";
	display: block;
	height: 150px;
	left: -80%;
	margin-top: -10px;
	opacity: 0.4;
	position: absolute;
	top: 100%;
	width: 300%;
}
.header3 {
	color: #a2ca28;
	font-family: var(--top-family);
	font-size: 35px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top:13px;
	padding-left: 42px;
	text-align: var(--top-left-align);
}
.header4 {
	color: var(--top-color);
	font-family: var(--top-family);
	font-size: 35px;
	margin-bottom: 15px;
	margin-top:13px;
	line-height: 30px;
	padding-left: 42px;
	text-align: var(--top-left-align);
}

.track {
	color: #fd634e;
	font-family: var(--top-family2);
	font-size: var(--top-size);
	font-weight: bold;
	font-weight: 600;
	line-height: 22px;
	margin-top: 39px;
	padding-left: 42px;
	text-align: var(--top-left-align);
}
.summer {
	color: var(--top-color);
	font-family: var(--top-family);
	font-size: 40px;
	font-weight: 300;
	line-height: 30px;
	padding-left: 42px;
	text-align: var(--top-left-align);
}
.icon_p {
	height: 32px;
	width: 32px;
flex-direction: column;
justify-content: flex-end;
display: flex;
position: relative;
margin-left: 140px;
}
.about_life_2{
	width: 100%;
  display: flex;
	flex-direction: row;

}
.icon_i {
	height: 32px;
	vertical-align: middle;
	width: 32px;
}
.oneline {
	display: flex;
}
.block6 {
	background: url(img/man.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-top: -1px;
	max-width: 100%;
	padding-top: 1px;
}
.mango {
	grid-column-start: 4;
	width: 100%;
}
.line5 {
	align-items: center;
	flex-direction: row;
}
.line6 {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.par2 {
	color: var(--top-color);
	font-family: var(--top-family);
	font-size: 13px;
	font-weight: var(--top-weight);
	line-height: 21px;
	margin-left: 42px;
	text-align: start;
	text-align: var(--top-left-align);
}
.par1 {
	color: #656e74;
	font-family: var(--top-family);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 26px;
	margin-left: 42px;
	margin-top: 25px;
	text-align: var(--top-left-align);
}
.about_improve {
	background-color: #a2ca28;
	display: flex;
	flex-direction: column;
	padding-right: 42px;
}
.improve {
	color: var(--top-color);
	font-family: var(--top-family2);
	font-size: 17px;
	font-weight: 600;
	line-height: 22px;
	margin-left: 42px;
	margin-top: 39px;
	text-align: var(--top-left-align);
}
.eating {
	color: var(--top-color);
	font-family: var(--top-family);
	font-size: 35px;
	font-weight: 300;
	line-height: 30px;
	padding-left: 42px;
	text-align: var(--top-left-align);
}
.linki {
	color: var(--top-color);
	display: inline-block;
	font-family: var(--top-family1);
	font-size: 13px;
	line-height: 24px;
	margin-right: 30px;
	text-align: right;
	text-decoration: none;
}
.linki:hover {
	color: #968d8d;
}
.green_l {
	background-color: #a2ca28;
	height: 3px;
	margin-top: 1px;
	width: 38px;
}
.button{
	width: 52px;
	height: 51px;
  border-radius: 50%;
  margin-top:20px;
margin-right:10px;

}

.button1{
	background:url(face.png) center center  no-repeat, #2e3192;
}
.button2{

background:url(twitter.png) center center  no-repeat, #00aeef;

}
.button3{

background:url(youtub.png) center center  no-repeat, #ed3123;

}
.button4{

background:url(linkedin.png) center center  no-repeat, #171a8f;

}


.button:hover {
 opacity:0.5;
}

.header {
	background: url(img/backg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	padding: 40px 70px 150px 50px;
	position: relative;
}
.surf {
	background: url(img/surf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-end: 4;
	grid-column-start: 2;
}
.black {
	height: 198px;
	margin-bottom: 50px;
	width: 100%;
}
.leaders {
	color: var(--top-color);
	font-family: var(--top-family1);
	font-size: 45px;
	font-weight: var(--top-weight);
	line-height: 40px;
	padding-top: 240px;
	text-align: center;
}
.end {
	background-color: #0d1119;
	height: 769px;
	padding-left: 100px;
	padding-top: 67px;
}
.block_footer {
	display: flex;
	flex-direction: row;
}
.columns {
	display: flex;
}
.button2, .button3, .button4 {
	padding-left: 13px;
}
.about_us, .contact {
	padding-left: 50px;
}
.icons {
	display: flex;
	margin-top: 10px;
	margin-bottom:10px;
}
.footer-forms {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 50px;
}
.footer-forms .form {
	border: 0;
	border-radius: 3px;
	color: #83969f;
	font-family: 'proxima-nova', sans-serif;
	font-size: var(--top-size);
	margin-left: 6px;
	padding: 18px 109px 20px 22px;
font-weight: 400;
text-align: left;
border-radius: 2px;
background-color:  #ffffff;
width: 201px;
height: 49px;
}
.form1{
	border: 0;
	border-radius: 3px;
	color: #83969f;
	font-family: 'proxima-nova', sans-serif;
	font-size: var(--top-size);
	margin-left: 6px;
	padding: 18px 109px 20px 22px;
font-weight: 400;
text-align: left;
border-radius: 2px;
background-color:  #ffffff;
width: 340px;
height: 49px;

}
.footer-forms .button_f {
	border: 0;
	border-radius: 3px;

	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-size: 15px;
	height: 49px;
	margin-left: 6px;
	padding-left: 32px;
	margin-right: 150px;
	background-color:  #a2ca28;
	width: 182px;
	height: 49px;
text-align: left;
}
.icons .img {
	margin-left: 12px;
}
.title {
	color: var(--top-color);
	font-family: var(--top-family1);
	font-size: 15px;
	font-weight: var(--top-weight);
	line-height: 12px;
	text-align: var(--top-left-align);
}
.par3 {
	color: var(--top-color);
	font-family: var(--top-family1);
	font-size: 16px;
	line-height: 23px;
	padding-bottom: 370px;
	text-align: center;
}
.fitness {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 52px;
	padding-top: 39px;
}
.drop {
	height: 47px;
	width: 30px;
}
.par4 {
	color: #8297a7;
	font-family: var(--top-family1);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 24px;
	text-align: var(--top-left-align);
}
.header1 {
	color: var(--top-color);
	font-family: var(--top-family);
	font-size: 24px;
	font-weight: var(--top-weight);
	line-height: 54px;
	text-align: var(--top-left-align);
	transform: scaleY(1.002);
}
.fit {
	align-items: flex-start;
	color: var(--top-color);
	display: flex;
	flex-direction: column;
	font-family: var(--top-family1);
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	margin-left: 13px;
	text-align: var(--top-left-align);
}
.paragraph {
	color: white;
	font-family: var(--top-family1);
	font-size: 13.99px;
	font-weight: var(--top-weight);
	line-height: 24px;
	text-align: var(--top-left-align);
	transform: scaleX(1.0007);


}
.link {
	color: white;
	text-align: var(--top-left-align);
	text-decoration: none;
  font-family: var(--font-family3);
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;

}
.training .paragraph, .communit .paragraph {
	padding-bottom: 24px;
	
}
.head_linki:last-child{
	margin-right:0;
}
.yes strong{
	color:  #fd634e;
}
.i_can {
	bottom: 15%;
	left: 5%;
	position: absolute;
}
.in_i_can strong {
	color: #a2ca28;
}
.about {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.all_about {
	color: #fd634e;
	font-family: var(--top-family2);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 22px;
	margin-top: 50px;
	text-align: center;
}
.in_i_can {
	color: white;
	font-family: var(--top-family1);
	font-size: 39.97px;
	text-align: var(--top-left-align);
	transform: scaleY(1.0005);
}
.par {
	color: #656e74;
	font-family: var(--top-family);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 26px;
	margin-top: 25px;
	text-align: center;
}
.menu_block {
	background-color: #a2ca28;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 119px;
	padding-top: 111px;
}
.header2 {
	color: #a2ca28;
	font-family: var(--top-family);
	font-size: 35px;
	font-weight: 300;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;

  text-align: center;

}

.big_class {
	background-color: #a2ca28;
}
.wrapper1 {
	display: grid;
	grid-template-columns: 400px auto 400px;
	grid-template-rows: 400px 400px;
	margin: 0 auto;
	padding: 0 95px;
}
.wrapper {
	display: grid;
	grid-template-columns: 400px auto 400px;
	grid-template-rows: 350px 310px;
	margin: 0 auto;
	padding: 0 95px;
}
.content {
	background-color: #fd634e;
}
.section {
	background-color: #a2ca28;
}
.wrapp {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: -3%;
}
.berry {
	grid-column-end: 3;
	grid-column-start: 1;
}
.berry {
	height: 100%;
	width: 100%;
}
.run {
	grid-column-start: 1;
}
.run_peop {
	width: 100%;
}
.about_sport {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.yes {
	color: white;
	font-family: var(--top-family);
	font-size: 15px;
	padding-left: 200px;
	text-align: var(--top-left-align);
	transform: scaleY(1.0005);
}
.resources, .connect, .training {
	margin-right: 29px;
}
.read {
	color: #a2ca28;
	font-family: var(--top-family);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 26px;
	margin-bottom: 20px;
	text-align: center;
}
.line_sky {
	width: 100%;
	display: flex;
	margin: 0 auto;
	position: relative;
	align-items: center;
	justify-content: center;
	overflow: hidden;
height: 100%;



}
.line_sky:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0px;
    border: 80px solid transparent;
		border-left: 250vh solid #000000;
		margin-top: 2px;

}

.line_sky_1 {
    position: absolute;
    height: 100%;
    display: flex;
		width: 100%;

}

.line_sky_1:after {
    content: '';
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1;
    border: 130px solid transparent;
		border-right: 200vh solid black;
	
}

.line_sky_2 {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
}

.line_sky_2:after {
     content: "";
     display: block;
     height: 100px;
     width: 176%;
     background: #fd634e;
     position: absolute;
     border-radius: 70%;
     top: 102%;
     left: -80%;
     margin-top: -30px;
		 z-index: 3;
	
 }
.about2 {
	
	grid-column-end: 4;
	grid-column-start: 2;
	background: url(img/girl.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;	
}
.gadget {
	background: url(img/oclock.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-end: 3;
	grid-column-start: 1;
}
.header-line{
	width: 100%;
	content: '';
	position: absolute;

opacity: 0.2;
  top: 510px;
  left: 0;
  border-right: 98vw solid red;
  border-top: 85px solid transparent;
  border-bottom: 30px solid red;
}

.img_girl{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.icons img:hover {
    background-color: grey;
    border-radius: 50px;
    padding: 1px;
    transition: 1s;
}
b{
	color:white;
}

.text_on_pict {
	color: #f7614c;
	font-size: 12px;
	font-weight: var(--top-weight);
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
.text_on_pict2{
	color:white;
	font-size: 12px;
	font-weight: var(--top-weight);
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.line_on_pic {
	position: relative;
  bottom: -336px;
  display: flex;
  font-size: 12px;
flex-direction: row;
justify-content: flex-end;
margin-right:30px;
}
.line_on_pic2 {
	position: relative;
  bottom: -336px;
  display: flex;
  font-size: 12px;
flex-direction: row;
justify-content: flex-start;
margin-left:30px;

}

.date {
	color: var(--top-color);
	font-family: var(--top-family3);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 22px;
	padding-left: 59px;
	padding-top: 50px;
	text-align: var(--top-left-align);
}

.log {
	color: var(--top-color);
	font-family: var(--top-family3);
	font-size: var(--top-size);
	font-weight: var(--top-weight);
	line-height: 22px;
	text-align: right;
}
.logotip {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-left: 550px;
	margin-top: -50px;
}
.icon {
	height: 19px;
	margin-left: 10px;
	width: 19px;
}
.about_life {
	background: linear-gradient(to right, white 90%, rgb(226, 226, 226));
	align-items: center;
	flex-direction: row;
	padding-right: 42px;
	text-align: var(--top-left-align);
	
}
.about_yourself {
	background-color: #ffffff;
	grid-column-end: 3;
	grid-column-start: 1;
	padding-right: 42px;
}
.about_fun {
	background-color: #a2ca28;
	grid-column-end: 4;
	grid-column-start: 2;
}
.drop1 {
	height: 31px;
  vertical-align: middle;
	width: 19px;
	position: relative;
  top: -5px;
  left: 4px;
}
.dropw {
	height: 23px;
	margin-top: -20px;
	width: 15px;
}
